ion-menu-button {
    color: var(--ion-color-primary);
}

.header-content {
    margin: 16px;
}

.card-contet {
    margin-top: 8px;
    color: black;
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
}

.sair {
    margin-top: 16px;
    display: block;
    text-align: center;
    cursor: pointer;
}
  
